#a {
    display: block;
    float: left;
    font: 12px Poppins, sans-serif;
    margin-left: 40px;
}
#b {
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    color: grey;
}
#c {
    display: block;
    float: left;
    color: #f7941e;
    font: 12px Arial, Helvetica, sans-serif;
}
#bruh {
    width: 1230px;
    height: 930px;
    background-color: #ffffff;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid #f7941e;
}
#uudai {
    width: 1190px;
    height: 39.7px;
    position: relative;
    left: 20px;
    background-color: #f7941e;
}
#d {
    text-align: center;
    padding-top: 10px;
    font-size: 20.8px;
    font-weight: bold;
    color: #ffffff;
}
.normal {
    color: #333333;
    font-size: 16px;
    font-family: sans-serif;
}
.bold {
    font-weight: bold;
    color: #333333;
    font-size: 16px;
    font-family: sans-serif;
}
#btn {
    width: 200px;
    height: 42.39px;
    margin-left: 500px;
    background-color: #f7941e;
    font: 17.6px sans-serif;
    color: #ffffff;
    font-weight: bold;
    border-radius: 20px;
    border: none;
}

#container {
    height: 30px;
    display: flex;
    align-items: top;
}

.content {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    height: 1285px;
    border: none;
}

.noidung {
    text-align: justify;
    margin-left: 15px;
    margin-top: 5px;
    display: block;
}

#lol {
    line-height: 2;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .prev {
    left: 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .mySlides {
    display: none;
  }
